
.pokedex{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    color: white;
}

.pokemonDeck{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    justify-content: center;
    /* align-content: center; */
    /* width:100%; */
}

.pokemonCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
    gap: 30px;
    color: black;
}

@media screen and (max-width: 850px) {
.pokemonCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    gap: 50px;
    color: black;
}}

@media screen and (max-width: 500px) {
    .pokemonCard{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 2;
        gap: 50px;
        color: black;
    }}
    
.filterBar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;

}

.filterContent {
    grid-column: 2;
}

.filter{
    box-sizing: border-box;
    border-style: solid;
    background-color: none;
    border-color: white;
    border-radius: 8px;
    border-width: 5px;

}
