.pokedexesContainer{
    display: grid;
    /* grid-template-rows: 1fr; */
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    justify-content: center;


}

.PokedexesGrid{
    width: 100%;
    height: auto;
    gap: 10px;
    

}