body{
    background-color: black;
}

.pokedexesPage{
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
    /* justify-content: center; */
}

/* @media screen and (max-width: 1100px) {
    .pokedexesPage{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }}

    @media screen and (max-width: 755px) {
        .pokedexesPage{
            display: grid;
            grid-template-columns: 1fr;
        }} */