.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    margin: 0px;
}

.Nav-Bar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin:0px;
}

.HeaderLink{
    font-family: "Montserrat", serif;
    text-decoration: none;
    color: white;
}